%header
  %ul.nav.row-fluid{"ng-controller" => "loginController"}
    %li.span3
      %a.btn.btn-info(href= "#/chat") HangOut
    %li.span3
      %a.btn.btn-info.active(href= "#/") Scheduling
    %li.span3
      %a.btn.btn-info{"href"=> "#/adminSettings" } Admin Settings
    %li.span3
      %a.btn.btn-info{"ng-click" => "log_user()"} {{loginButtonDisplay}}

