%header
  %h1.logo
    %a{"href" => "#/"} bookies
  %ul.nav.row-fluid{"ng-show"=>"user", "ng-controller" => "userController"}
    %li.span3
      %a.btn.btn-info.active{"href" => "#/"} Schedule
    %li.span3
      %a.btn.btn-info{"href"=> "#/scheduleBuilder" } Create Schedule    
    %li.span3
      %a.btn.btn-info{"ng-click" => "logOut()"} Log Out
    %li.span3{"ng-show"=>"user"}
      %a.btn.btn-info{"href"=> "#/userSettings"} Settings

