
.container
  / Codrops top bar
  .codrops-top.clearfix
  / / Codrops top bar
  .custom-calendar-wrap.custom-calendar-full
    .custom-header.clearfix
      %h2 Flexible Calendar
      %h3.custom-month-year
        %span#custom-month.custom-month
        %span#custom-year.custom-year
        %nav
          %span#custom-prev.custom-prev
          %span#custom-next.custom-next
          %span#custom-current.custom-current{title: "Got to current date"}
    #calendar.fc-calendar-container


.calendarWrapper
    %table.calendar
        %tr
            %td
                %a.rightArrow{"ng-click" => "previous()"} &lt;
            %td{"colspan" => "5"}
                %h2 {{month}} {{year}}
            %td
                %a.leftArrow.next{"ng-click" => "next()"}  &gt;
        %tr
            %td S
            %td M
            %td T
            %td W
            %td T
            %td F
            %td S

        %tr{"ng-repeat" => "week in weeks"}
            %td.day{"ng-repeat" => "day in week"} {{day}}
