.scheduleWrapper

  .dayWrapper
    %a.rightArrow.dayNav &lt;
    %a.leftArrow.dayNav &gt;

    %div(ng-repeat="day in schedule")
      {{day.date | date:"EEE d"}}
      .shiftWrapper
        %a(href= "" class="circle {{shift.name}} shift-status-{{shift.status}}" ng-click="shiftStuffing(day,$index,current_user_id)" ng-repeat="shift in day.shifts")
