%div.formWrapper
  %form.signUpForm{"ng-controller"=>"userController"}
    %h1.slab{"ng-show"=>"slabTextIfy()"} Welcome to bookies!
    %input{"placeholder"=>"email@emailMcEmailerson", "name"=>"email", "type"=>"email", "ng-model"=>"user.email"}
    %div.names
      %input.first_name{"placeholder"=>"First Name", "name"=>"first_name", "type"=>"text", "ng-model"=>"user.first_name"}
      %input.last_name{"placeholder"=>"Last Name", "name"=>"last_name", "type"=>"text", "ng-model"=>"user.last_name"}
    %br
    %div.password
      %span.slab.pin{"ng-show" => "slabTextIfy()"} Pin:
      %span.passwordInputs
        %input{"placeholder"=>"1", "name"=>"password", "type"=>"password", "ng-model"=>"user.password.a"}
        %input{"placeholder"=>"2", "name"=>"password", "type"=>"password", "ng-model"=>"user.password.b"} 
        %input{"placeholder"=>"3", "name"=>"password", "type"=>"password", "ng-model"=>"user.password.c"}
        %input{"placeholder"=>"4", "name"=>"password", "type"=>"password", "ng-model"=>"user.password.d"}

    %input.slab{"ng-show"=>"slabTextIfy()", "value"=>"Schedule to your hearts content!","type"=>"submit","ng-click"=>"createUser()"} 

      %div.login
        Not a User?
        %a{"ng-hide"=>"user", "href"=> "#/logIn"} Log In!


