%div.form-wrapper
  %form.signUpForm{"ng-controller"=>"userController"}
    %h1{"slab-text"=>true} Log In Fun!
    .fields-container
      %input{"placeholder"=>"email@emailMcEmailerson", "name"=>"email", "type"=>"email", "ng-model"=>"user.email"}
      %div.password
        %span.pin Pin:
        %span.passwordInputs
          %input{"placeholder"=>"1", "name"=>"password", "type"=>"password", "ng-model"=>"user.pw_a"}
          %input{"placeholder"=>"2", "name"=>"password", "type"=>"password", "ng-model"=>"user.pw_b"} 
          %input{"placeholder"=>"3", "name"=>"password", "type"=>"password", "ng-model"=>"user.pw_c"}
          %input{"placeholder"=>"4", "name"=>"password", "type"=>"password", "ng-model"=>"user.pw_d"}

      %input{"value"=>"LOG IN !!!","type"=>"submit","ng-click"=>"logIn()"} 

        %div.login
          New to Bookies?
          %a{"href"=> "#/signUp"} Sign Up!
