.form-wrapper{"ng-controller" => "scheduleBuilderController"}
  %form.schedule-builder{"ng-submit"=>"createSchedule()"}
    #form_notice This is what the notification will say
    %h1
      New
      %strong{"slab-text" => true} Schedule

    .fields-container
      .field-container{"class"=>"formItem span4"}
        %label{"for"=>"startOfMonth"} Start of Month
        %input{"type" => "date", "ng-model"=>"form_month.startOfMonth", "id"=>"startOfMonth"}

      .field-container{"class"=>"formItem span4"}
        %label{"for"=>"endOfMonth"} End of Month
        %input{"type" => "date", "ng-model"=>"form_month.endOfMonth", "id"=>"endOfMonth"}

      .field-container{"class"=>"formItem span2"}
        %label{"for"=>"numberOfShiftBlocks"} Number of Shift Blocks Per Day
        %input{"type" => "tel", "ng-model"=>"form_month.numberOfShiftBlocks", "id"=>"numberOfShiftBlocks", "ng-change"=>"onShiftBlockChange(form_month.numberOfShiftBlocks)"}

      .field-container{"class"=>"formItem span2"}
        %label{"for"=>"numberOfPeoplePerShift"} Number of People Per Shift
        %input{"type" => "tel", "ng-model"=>"form_month.numberOfPeoplePerShift", "id"=>"numberOfPeoplePerShift"}

      .field-container{"ng-repeat" => "shift in form_month.shiftNames"}
        %input{"placeholder"=>"Name for the Shift", "ng-model" => "shift.name"}
        
        %select{"id" => "shift-times-{{shift.name}}", "drop-down" => true, "ng-model" => "shift.start", "ng-options" => "value.id as value.name for (key, value) in timeSelects", "bs-select" => true}

        %select.span2{"drop-down" => true, "ng-model" => "shift.startMeridiem", "ng-options" => "value.id as value.name for (key, value) in meridiemSelects", "bs-select" => true}

        %select.span2{"drop-down" => true, "ng-model" => "shift.end", "ng-options" => "value.id as value.name for (key, value) in timeSelects", "bs-select" => true}

        %select.span2{"drop-down" => true, "ng-model" => "shift.endMeridiem", "ng-options" => "value.id as value.name for (key, value) in meridiemSelects", "bs-select" => true}

      %input.create-schedule-button{"type"=>"submit"}
