%div.print-page-wrapper{"ng-controller" => "schedulePrintController"}
%h1 Print This Months Schedule

%table
  %tr{"ng-repeat" => "shift in userShiftArray"}
    %th 
      {{shift.date}} {{shift.day}}
    %td
      %label Time In
      %h1 {{shift.start}} {{shift.startMeridiem}}
    %td
      %label Time Out
      %h1 {{shift.end}} {{shift.endMeridiem}}
    %td
      %label Hours
      %h1 {{shift.start}} - {{shift.end}}
  %tr
    %td 10 Total Hours
