.container{"ng-controller" => "scheduleController"}
  .calendarWrapper
    .custom-calendar-wrap.custom-calendar-full
      .custom-header
        %h2 Schedule
        %h3.custom-month-year
          %span#custom-month.custom-month {{monthFull}}
          %span#custom-year.custom-year {{year}}
          %nav
            / %a#custom-current.custom-current{"title" => "Print This Month", "href"=>"/schedulePrint"} Print
            %span#custom-prev.custom-prev{"ng-click" => "previous()"}
            %span#custom-next.custom-next{"ng-click" => "next()"}
            %span#custom-current.custom-current{"title" => "Go to current date", "ng-click"=>"current()"}
            
      #calendar.fc-calendar-container
        .calendar.fc-calendar.fc-five-rows
          .fc-head
            %div Sun
            %div Mon
            %div Tue
            %div Wed
            %div Th
            %div Fr
            %div Sat
        
          .fc-body
            .fc-row 
              %div{"ng-repeat" => "currentDay in schedule.days"} 
                %span.fc-date {{ Date.create(currentDay.date).format('{d}') }}
                %span.fc-weekday {{ Date.create(currentDay.date).format('{dow}') }}
                .shifts{"class"=>"columns-{{currentDay.shifts.length}}"}
                  %div.shift{"ng-repeat" => "shift in currentDay.shifts", "class"=>"columns-{{shift.available}}"}
                    %h3 {{shift.name}}
                    %span{"ng-repeat" => "user in shift.user_ids", "ng-click" => "dropShiftOption(currentDay,$index)"} {{user.name}}
                    .shift-claim-button{"class" => "{{shift.name}} {{shift.user_ids[firebaseUser.id].status}}", "ng-repeat" => "i in getNumber(shift.available)", "ng-click" => "shiftStuffing(currentDay, shift.id, shift.user_ids[firebaseUser.id].status)", "ng-show" => "createClaimButtons(shift, $index)"}
