.container
  .calendarioWrapper{"ng-controller" => "calendarioController"}
    / Codrops top bar
    .codrops-top.clearfix
    / / Codrops top bar
    .custom-calendar-wrap.custom-calendar-full
      .custom-header.clearfix
        %h2 Schedule
        %h3.custom-month-year
          %span#custom-month.custom-month
          %span#custom-year.custom-year
          %nav
            %span#custom-prev.custom-prev{"ng-click"=>"prevMonth()"}
            %span#custom-next.custom-next{"ng-click"=>"nextMonth()"}
            %span#custom-current.custom-current{"title" => "Go to current date", "ng-click"=>"current()"}
      #calendar.fc-calendar-container


  .scheduleWrapper{"ng-controller" => "scheduleController"}
    %table.dayWrapper
      %tr
        %td         
          %a.rightArrow{"ng-disabled"=>"currentDay.day == 0","ng-click"=>"prevDay()"} &lt;

          %h3{"ng-model"=>"displayDate", "ng-change" =>"displayDateChange(displayDate)"} {{displayDate}}

          %a.leftArrow{"ng-disabled"=>"currentDay.day >= schedule.days.length","ng-click"=>"nextDay()"} &gt;
      %tr
        %td
          %table.day{"class" => "columns-{{shift.available}}", "ng-repeat" => "shift in schedule.days[currentDay.day].shifts"}
            %tr
              %th{"colspan" => "{{shift.available}}"} {{shift.name}}
            %tr
              %td{{"ng-repeat" => "user in shift.user_ids"}}
                %div {{user.name}}

              %td.shift-claim-button{{"class" => "{{shift.name}} {{shift.user_ids[user.id].status}}", "ng-repeat" => "i in getNumber(shift.available)", "ng-click" => "shiftStuffing(currentDay.day, $index, user.id, userInfo.first_name, userInfo.last_name)", "ng-show" => "shift.taken < ($index + 1) || shift.taken == undefined"}}
