%div.userSettingsPage{"ng-show"=> "userSettings", "ng-controller"=>"userController"}
  .form-wrapper
    %form{"ng-submit"=>"saveSettings()"}
      %h1
        Edit Your
        %strong{"slab-text" => true} Settings
      .fields-container
        .field-container
          %label First Name :
          %input{"ng-model" => "userSettings.first_name"}
        .field-container
          %label Last Name :
          %input{"ng-model"=>"userSettings.last_name"}
        .field-container
          %label Last Name :
          %input{"ng-model"=>"userSettings.phone"}
        .field-container
          %label Last Name :
          %input{"ng-model"=>"userSettings.anotherEmail", "placeholder" => "anotherEmail@gmail.com"}
        %input{"type" => "submit", "value" => "Save Changes"}
