%div.userSettingsPage{"ng-show"=> "userInfo", "ng-controller"=>"userController"}
  .form-wrapper
    %form
      %h1{"slab-text"=>true}
        Settings
      .fields-container
        .field-container{"ng-repeat"=>"(title, information) in userInfo"}
          %label {{title}} :
          %input{"ng-model"=>"information"}

        %input{type: 'submit', value: 'Save Changes'}

  / %form
  /   %input{"ng-model" => "user.first_name"}
  /   %input{"ng-model" => "user.last_name"}
  /   %input{"ng-model" => "user.email"}
  /   %input{"ng-model" => "user.password"}

