.calendarWrapper
  font-size: 2em
  text-align: center
  width: 48%
  margin: 0
  float: left

.calendar
  width: 98%

  td
    width: 14.285714286%
    height: 14.285714286%

    a
      text-decoration: none
  tr
    height: 20%
