header
  margin-bottom: 1em
  display: block
  width: 100%
  height: 3em
  border-top: 1px solid rgba(148, 201, 255, 0.2)
  border-bottom: 1px solid #000
  overflow: hidden
  border-radius: 0 

  .logo
    float: left
    width: 150px
    height: 100%
    margin: 0

    a
      width: 100%
      height: 100%
      display: block
      background: transparent image-url('logo.png') no-repeat 0 0
      background-size: contain
      text-indent: -100%

  a
    color: inherit
    text-decoration: none

  a.active
    color: rgba(255, 255, 255, 0.4)

  ul
    width: 57%
    list-style: none
    float: right
    margin: 0.5em 0 0
    padding: 0

  li 
    float: left
    margin-left: 1em

div.outerWrapper
  height: 100%

div.custom-header nav
  overflow: hidden
  position: absolute
  top: 20px
  right: 0
