.scheduleWrapper
  width: 48%
  float: right

  .dayWrapper
    width: 100%
    height: 100%
    text-align: center
    font:
      size: 2em
      weight: 900
    position: relative

    .rightArrow
      right: auto
      left: 0

    a:hover
      color: $darkBlueGrey

.shiftWrapper
  height: 100px
  margin: 0 auto
  background:
    color: $darkBlueGrey
  border-radius: 30px
  padding: 4px
  display: inline-block

.day
  text-align: center

  a.shiftStyle
    box-sizing: border-box
    border: 2px solid #2d2d2d
    width: 90px
    // height: 90px
    margin: 0
    // border-radius: 90px
    float: left
    margin-right: 4px
    margin-left: 4px

  a.shiftStyle:hover
    background:
      color: $blue

  a.shiftStyle.inactive
    background:
      color: $blue

  a.shiftStyle.waitlisted
    border:
      color: $blue
