//calendar styles
.calendarWrapper
  margin: 0 20px

.calendar
  width: 98%

  td
    width: 14.285714286%
    height: 14.285714286%

    a
      text-decoration: none
  tr
    height: 20%

/* why no worky */
div > .hide, .hide
  display: none !important

/* @media screen and (min-width: 1024px) */
  .custom-header h3
    width: 50%
    text-align: left
    padding-right: 0

  .fc-calendar-container
    height: 50%
    margin-top: 30px
    float: left

  .custom-calendar-full  
    width: 48%


// schedule styles
.scheduleWrapper
  width: 48%
  float: right

  .dayWrapper
    width: 100%
    height: 100%
    text-align: center
    font:
      size: 2em
      weight: 900
    position: relative

    .rightArrow
      right: auto
      left: 0

    a:hover
      color: $darkBlueGrey

.fc-calendar .fc-row > div > span
  &.fc-date, &.fc-weekday
    position: absolute

  &.fc-weekday
    left: 40px

.fc-calendar .fc-row > div 
  position: relative

.fc-calendar .fc-row > div > div.shifts
  padding-left: 70px
  max-width: 100%
  display: block
  overflow: hidden

.shift
  float: left

  h3
    text-align: center

.shift, .shifts
  > div
    width: 100%

  &.columns-2
    > div, > span
      width: 50%

  &.columns-3
    > div, > span
      width: 32%

  &.columns-4
    > div, > span
      width: 25%

  &.columns-5
    > div, > span
      width: 20%

.shift-claim-button
  width: 20%
  min-width: 14px
  height: 14px
  background: image-url('50-plus@2x-white.png') no-repeat center center
  background-size: 14px

.shift-claim-button:hover
  background:
    color: $bookies-white

.shift-claim-button.inactive
  background: image-url('50-plus@2x-grey.png') no-repeat center center
  width: 20%
  min-width: 14px
  background-size: 14px
  height: 14px

.shift-claim-button.waitlisted
  border:
    color: black

.pop-up
  box-sizing: border-box
  background-color: rgba(0,0,0,0.5)
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  font-family: 'Lato', Calibri, Arial, sans-serif
  color: #ccc

  .inner-pop-up
    background-color: rgba(0,0,0,0.9)
    text-align: center
    font-weight: 300
    font-size: 1.5em
    font-weight: 600
    border-radius: 10px
    margin: 25%
    padding: 2%

    button
      color: #000
      padding: 5px
      margin-top: 10px
      background-color: rgba(255,255,255,0.9)
      border-radius: 4px
      border: none
      font-size: 1em
      font-weight: 900    

    button:hover
      color: #000
      background-color: rgba(255,255,255,0.8)
      border: none

    a 
      color: #ccc
      margin-right: 10px
      font-size: .8em    

    a:hover
      color: #fff
      margin-right: 10px
      font-size: .8em
      text-decoration: underline

// Styles of Awesome
// 

.shifts
  cursor: default

  &.columns-3 > div, &.columns-3 > span
    width: 30%
    margin: 0 5% 0 0

    &:last-of-type
      margin-right: 0

.shift
  h3
    margin-bottom: 1em

  > div, > span
    float: left
    height: 55px
    display: block
    padding: 0
    background-color: rgba(0,0,0,0.1)
    border-radius: 50%
    box-shadow: rgba(0,0,0,0.3) 0 1px 0 inset, rgba(0,0,0,0.1) 0 -1px 0 inset
    cursor: pointer
    transition: background 100ms

    &:hover
      background-color: rgba(0,0,0,0.3)

    &:active
      background-image: url(/assets/50-plus@2x-white.png), radial-gradient(transparent 50%, #000 73%), url(/assets/gold.png)
      background-size: 14px, auto, 125%

    // &:active
    //   background-color: rgba(0,0,0,0.5)

    .columns-3 &
      width: 30%
      margin: 0 5% 0 0

      &:nth-child(4)
        margin-right: 0
